
.box-shadow { /*класс*/
	box-shadow: inset 1px 1px 1px 1px black; /*тень окошка*/
	position: absolute; /*абсолютное позиционирование*/
    top: 0; /*отступ сверху (занимаем все пространство)*/
    right: 0;/*отступ справа (занимаем все пространство)*/
    bottom: 0;/*отступ снизу (занимаем все пространство)*/
    left: 0;/*отступ слева (занимаем все пространство)*/
    margin: auto;/*расположение по центру*/
    background-color: white;/*заливка внутренней области*/
}

.outer { /*класс*/
	width: 100%; /*длина*/
    height: 115%; /*высота*/
    position: absolute; 
    top: 0; /*отступ сверху*/
    left: 0; /*отступ слева*/
    overflow: auto; /*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров*/
    background-color: gray;/*заливка внутренней области*/
}

h1 {
	color: black; /*цвет*/
	text-align: center; /*расположение текста по центру*/
	font-family: 'Times New Roman', sans-serif; /*задаем параметры текста*/
}

ul	{
	margin-left: 30px; /*отступ слева*/
}

li	{
	margin-left: 20px; /*отступ слева*/
}

hr {
	position: center; /*распологаем горизонтальную линию по центру*/
	width: 500px; /*задаем значение длины горизонтальной линии*/
}

p {
	color: black; /*цвет*/
	font-family: 'Times New Roman', sans-serif; /*параметры текста*/
	font-weight: normal; /*задаем жирность шрифта*/
}

div { /*блочный элемент*/
	width: 600px; /*задаем длину блоку*/
	height: 700px; /*задаем высоту блоку*/
}